

.block-right { 
	float: right;
	width: 400px; 
}


.top-frame {
	scroll-behavior: none;
	resize: none;
	text-align: center;
}


.sidebar {
	width: 30%;
	vertical-align: top;
}

.blue {
	color: #0000CD;
	text-decoration: none;
}

.title-style {
	text-align: justify;
	color: rgb(153, 0, 0);
	margin-bottom: 0;
}

.caps {
	text-transform: uppercase;
}

.no-margin {
	margin: 0;
}

.table {
	border: 0;
	border-spacing: 5px;
	font-size: 12px;
}

.table2 {
	text-align: center;
	border: 0; 
	border-spacing: 1;
	padding: 1;
	width: 40%;
}

.table3 {
	border: 0;
	padding: 0;
	border-spacing: 0; 
	width: 100%;
}

.contacts {
	width: 404px;
	height: 139px;
}

td {
	padding: 0;
}

 th {
 	padding: 0;
 }

 .text-size {
 	font-size: 10.8px;
 }

.text-right {
	text-align: right;
}

 .text-center {
 	text-align: center;
 }

.contacts-td {
	padding-right: 20px;
	vertical-align: top;
}

.contacts-td2 {
	border-left: 1px;
	padding-left: 20px; 
	vertical-align: top;
}

.cont-otstup {
	margin: 10px 0px 0px 10px;
}

.frame-c {
	border: 1px;
	margin: 0px 0px 5px 5px;
	padding: 5px;
	width: 300px;
	float: right;
} 

.vert-al {
	vertical-align: top;
}

.shir {
	width: 33%;
}