

.block-right { 
	float: right;
	width: 400px; 
}


.top-frame {
	scroll-behavior: none;
	resize: none;
	text-align: center;
}


.sidebar {
	width: 30%;
	vertical-align: top;
}

.blue {
	color: #0000CD;
	text-decoration: none;
}

.title-style {
	text-align: justify;
	color: rgb(153, 0, 0);
	margin-bottom: 0;
}

.caps {
	text-transform: uppercase;
}

.no-margin {
	margin: 0;
}

.table {
	border: 0;
	border-spacing: 5px;
	font-size: 12px;
}

td {
	padding: 0;
}

 th {
 	padding: 0;
 }

 .text-size {
 	font-size: 10.8px;
 }

 .text-center {
 	text-align: center;
 }